<div class="panel panel-default">
    <div class="panel-heading">
      标签列表
    <% if can? :create, Label %>
    <div class="pull-right">
      <%= link_to "新建标签", new_label_path, class: "btn btn-primary btn-xs" %>
    </div>
    <% end %>
     </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>标签名</th>
          <th>使用次数
            <a href="/labels/ascending">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
            </a>
            <a href="/labels/descending">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true">
            </a>
          </th>
          <th style="width:120px;">创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <%= render(@labels) %>
      </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <%= render partial: "shared/admin/paginate", locals: { object: @labels } %>
  </footer>
</div>